<h3>
    <a href="#">Reset Password</a>
</h3>
<p>Enter new password for the account with email <%= @user.email %></p>
<form method="post" action="/users/change_password">
  <label>New password</label><br>
  <input type='password' name="password"><br>
  <label>Confirm new password</label><br>
  <input type='password' name="password_confirm">
  <%= hidden_field_tag :user_id, @user.id %>
  <br>
	<br><%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
  <input type='submit' class='btn-md btn-warning submit-btn'>
</form>