<div class="row">
    <div class="col-md-6 portfolio-item log-in-form">
        <h3>
            <a href="#">Log In</a>
        </h3>
        <p>Existing members, sign in below</p>
        <form method="post" action="/sessions">
          <label>Email</label><br>
          <input type='email' name="email"><br>
          <label>Password</label><br>
          <input type='password' name="password"><br><%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
          <input type='submit' class='btn-md btn-warning submit-btn'>


        </form>
    </div>
    <div class="col-md-6 portfolio-item log-in-form">
        <h3>
            <a href="#">Sign Up</a>
        </h3>
        <p>Enter details to become a member</p>
        <form method="post" action="/users">
          <label>Email</label><br>
          <input type='email' name="email" required><br>       
          <label>Given Name</label><br>
          <input type='textfield' name="given_name" required><br>
          <label>Family Name</label><br>
          <input type='textfield' name="family_name" required><br>
          <label>Address - Line 1</label><br>
          <input type='textfield' name="address_one" required><br>
          <label>Address - Line 2</label><br>
          <input type='textfield' name="address_two"><br>
          <label>Address - City</label><br>
          <input type='textfield' name="address_city" required><br>
          <label>Country</label><br>
          <%= select_tag "address_country", options_for_select(@countries) %> <br>
          <label>Password</label><br>
          <input type='password' name="password" required><br>
          <label>Confirm Password</label><br>
          <input type='password' name="confirm_password" required><br>


          <br> <p>recaptcha_tags put this in IRB tags before redeploying TODO<p>  </br>
          <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
          <input type='submit' class='btn-md btn-warning submit-btn'>


        </form>
    </div>
</div>
