  <div class="album-link">
    <img src=<%=@album.art_url%> class="album-art">
    <p class="album-info"><%=@album.name%></p>
    <p class="album-info"><%=@album.price%></p>
    <p class="album-info"><%=@album.description%></p>
  </div>
