/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/***************************
GENERAL
****************************/
body {
  font-family:'Open Sans', sans-serif;
  background: #FF111A
}

body {
  color: #000;
  font-size: 1.7em
}

a {
  text-decoration:none;
  color:black;
}

a:hover {
  text-decoration:none;
  color:black;
}

.navlink{
  text-decoration:none;
  color:black;
  font-style: bold;
}

#wrapper {
  max-width:940px;
  margin: 0 auto;
  padding: 0 5%;

}

#background_div {
  background: #9E9E84;
  background-image: url("/images/recordstack.png");
  background-repeat: repeat-y;
  background-size: 100%;
  border-left: double 3px black;
  border-right: double 3px black;
}

/*img {
  max-width:100%;
}*/

h3 {
  margin: 0 10% 0 10%;
  font-size: 1.4em;
  text-align: center;
}
/***************************
HEADING
****************************/

header {
  float: left;
  margin: 0 0 30px 0;
  padding: 5px 0 0 0;
  width: 100%;
  background-color: #CCCCAA;

}

#logo {
  text-align: center;
  margin: 0;
}

#logo img {
/*  max-height: 10%;*/
  width: 30%;
  margin: 4% 5% 0 35%;
  float: left;

}

h1 {
  font-family:'Poller One', sans-serif;
  margin: 15px 0;
  font-size:2.5em;
  font-weight:normal;
  line-height:0.8em;
}

h2 {
  font-size: 1.5em;
  margin: -5px 0 0;
  font-weight: normal;
}

/***************************
NAVIGATION
****************************/

nav {
  text-align:center;
  padding: 10px 0;
  margin:20px 0 0;
}

nav ul {
  list-style:none;
  margin: 0 10px;
  padding:0;
}

nav li {
  display:inline-block
}

nav a {
  font-weight: 700;
  padding:5px 10px;

}

a {
  text-decoration:initial;
}

@media screen and (min-width:480px){
  /***************************
  TWO COLUMN LAYOUT
  ****************************/
  #primary{
    width:50%;
    float: left;
  }

  #secondary{
    width: 40%;
    float: right
  }

  /***************************
  PAGE PORTFOLIO
  ****************************/
  #gallery li{
    width:28.3333%;
  }

  #gallery li:nth-child(4n){
    clear: left;
  }

  /***************************
  PAGE ABOUT
  ****************************/
  .profile-photo{
    float: left;
    margin: 0 5% 80px 0;
    }
}


@media screen and (min-width:660px){

  /***************************
 HEADER
  ****************************/
  nav {
      background:none;
      float: right;
      font-size:1.125em;
      padding-right:5%;
      text-align:right;
      width:38%;
      clear: left;
      margin-top: -70px;
    }

  #logo{
      float:left;
      text-align:left;
      width:60%;
    }
  #logo img{
    float:right;
    max-width: 30%;
    margin: -5px 8% 0 35%;
    max-height: 100%;

  }

  #logo-subheader{
    float:right;
    max-width: 30%;
    margin: -5px 13.5% 0 35%;
    max-height: 100%;
    font-size: 1.6em;
  }

  h1{
    font-size:2.5em;
  }
  h2{
    font-size:0.825em;
    margin-bottom:12px;
  }
  header{
    border-bottom:5px solid #57A8E0;#105B63
    margin-bottom: 60px;
  }
}
/*******************************
FRONT PAGE
*******************************/
.album-art {
  /*width: 120px;*/
  display: inline-block;
  float: left;
  max-height: 100%
}


.album-link{
  display: block;
  height: 120px;
  background: rgba(20,121,178,0.85);
  border-radius:4px;
  margin: 5px;
  padding: 5px;
  max-width: 70%;
  margin-left: 15%;
  border: double 5px #092B42;
}

.album-price {
  float: right;
  font-size: 1.2em
}

.album-name{
  vertical-align: middle
}

/*******************************
SINGLE ALBUM PAGE
*******************************/

#album-show-main{
  background: rgba(20,121,178,0.85);
  border: double 5px #092B42;
}

.album-page-art {
  width: 30%;
  display: inline-block;
  float: left;
}

.play-button {
  float: right;
  width: 30px;
  /*position: absolute;*/
  display: flex;
  margin: 3px;
  padding: 2px;
}

.big-cart{
  float: right;
  width: 10%;
  margin-right: 2%

}

.small-cart {
  float: right;
  width: 30px;
  /*position: absolute;*/
  display: flex;
  margin: 3px;
  padding: 2px;
  margin-right: .5%
}

.track-listing {
  display: block;
  margin-top: 20px;
  margin-left: 10%
}

.spacer {
  height: 120px;
}

/*******************************
LOGIN SIGNUP PAGE
*******************************/

.signup-form {
  background: #FFD34E;
  border: double 5px #DB9E36;
  max-width: 80%;
  margin-left: 10%;
  padding: 5px;
}

.signup-field {
  margin: 10px 0 10px 0;
  position: relative;
  float: right;
}

.log-in-form{
  background: rgba(20,121,178,0.85);
  border: double 5px #092B42;
  border-radius: 5px;
  margin-left: 2.5%;
  max-width: 45%
}
/********************************
USER LIBRARY PAGE
********************************/

.library-div{
  padding: 20px
}