<h3 class="catalog-head about-head">About Us</h3>
<p>OHO RECORDING has been operating out of Nelson, New Zealand for the past 25 years.</p>


<p>This site makes available albums considered worth sharing, whether original Pop/Rock/Jazz/Folk or any blend thereof, and contemporary Classical.</p>


<p>These recordings are made available in several formats,
including high resolution (Hi-Res) 24 bit uncompressed audio files for the more discriminating.</p>
<img src="/images/about.jpg" align="left" id="about-photo"> 
<p>All have been recorded and/or mixed and mastered by David Bowater.</p>

<p>The common thread running through these recordings is that they are  the expression
of creative minds, unfettered by commercial considerations, and hence are more challenging
and ultimately more rewarding to the listener.</p>
<br>
<h3 class="contacts-head">Contact</h3>
<div id="contacts-left">
	<p>Postal Address</p>
	<p>25 Moncrief Ave</p>
	<p>Nelson</p>
	<p>New Zealand 7010</p>
</div>
<div id="contacts-right">
	<p>Phone: <a href="tel:+64274061163">[+64]27 406 1163</a></p>
	<p>Email: <a href="mailto:davebow@snap.net.nz">davebow@snap.net.nz</a></p>
	<p>Facebook: <a href="https://www.facebook.com/david.bowater.3">David Bowater</a></p>
</div>