<h3 class="catalog-head">Our Catalog</h3>
<%Album.all.order(:created_at).each do |album|%>
  <a class="album-link" href="/albums/<%=album.id%>">
      <img src=<%=album.art_url%> class="album-art">
    <div >
      <p class="album-name"><%=album.name%></p>
      <p class="album-price"><%=album.price.round(2)%></p>
    </div>
  </a>
<%end%>
