<p>p is for penis</p>
<%Album.all.each do |album|%>
  <a href="/albums/<%=album.id%>">
    <div class="album-link">
      <img src=<%=album.art_url%> class="album-art">
      <p class="album-name"><%=album.name%></p>
      <p class="album-price"><%=album.price%></p>
    </div>
  </a>
<%end%>
